# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# Extras
Solution/.vs/Solution/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
Solution/Solution/x64/Debug/moc/moc_AdminGUI.cpp
Solution/Solution/x64/Debug/moc/moc_Main_GUI.cpp
Solution/Solution/x64/Debug/moc/moc_UserGUI.cpp
*.props
*.stash
*.idx
Solution/Solution/x64/Debug/qmake/temp/Makefile
Solution/Solution/x64/Debug/qmake/temp/props.txt
*.log
*.pro
Solution/Solution/x64/Debug/rcc/qrc_Main_GUI.cpp
*.recipe
*.tlog
Solution/Solution/x64/Debug/vc142.pdb
Solution/Solution/x64/Release/moc/moc_AdminGUI.cpp
Solution/Solution/x64/Release/moc/moc_Main_GUI.cpp
Solution/Solution/x64/Release/moc/moc_UserGUI.cpp
Solution/Solution/x64/Release/qmake/temp/Makefile
Solution/Solution/x64/Release/qmake/temp/props.txt
Solution/Solution/x64/Release/uic/ui_AdminGUI.h
Solution/Solution/x64/Release/uic/ui_Main_GUI.h
Solution/Solution/x64/Debug/uic/ui_AdminGUI.h
Solution/Solution/x64/Debug/uic/ui_Main_GUI.h
Solution/Solution/x64/Debug/uic/ui_UserGUI.h
Solution/Solution/x64/Release/uic/ui_UserGUI.h
Solution/x64/Debug/Solution.ilk
Solution/x64/Debug/Solution.pdb

Solution/Solution.sln
*.obj
*.cbt
*.vcxproj
*.filters
*.exe
